[Desktop Entry]
Encoding=UTF-8
Name=Lien vers nokogiri | RubyGems.org | votre communauté d'hébergement des gems
Type=Link
URL=https://rubygems.org/gems/nokogiri
Icon=text-html
